@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,400;500;700;900&display=swap');

$font-family: 'Roboto', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

$font-size--xs: .75rem;
$font-size--sm: 1rem;
$font-size--md: 1.25rem;
$font-size--lg: 1.5rem;
$font-size--xl: 1.75rem;

$font-weight--regular: 400;
$font-weight--semibold: 500;
$font-weight--bold: 700;

$line-height--base: 1.6;
$line-height--title: 1.1;
$line-height--quote: 1.3;
