@import '_var';

@mixin sidenav-button {
  color: var(--text);
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0;
  background: none;
  border: 0;
  overflow: hidden;
  border-radius: $rounded-sm;
  cursor: pointer;
  outline-offset: -2px;
  transition-property: background, color;
  transition-duration: $duration;

  .is-active & {
    color: var(--color-primary);
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
  }

  &:focus-visible,
  &:hover {
    background-color: var(--bg);
    color: var(--color-primary);
  }
}
